
<MudList Clickable="true">
    @{Armor armor = ViewModel.Character.Armor; }

    @if (!string.IsNullOrWhiteSpace(armor.Name))
    {
        @if (ViewModel.Character.Armor.IsEquipped)
        {
            <MudListItem @onclick="async () => await ViewModel.UpdateArmor(armor, false)">
                <MudChip Color="Color.Primary">Equipped</MudChip>
                <MudText Typo="Typo.h6">@armor.Name</MudText>
                <MudText>Rating: @armor.AR</MudText>
                <MudText>Traits: @armor.Traits</MudText>
                <MudDivider />
                <MudText>@armor.Description</MudText>
            </MudListItem>
        }
        else
        {
            <MudListItem @onclick="async () => await ViewModel.UpdateArmor(armor, true)">
                <MudChip Color="Color.Default">Not Equipped</MudChip>
                <MudText Typo="Typo.h6">@armor.Name</MudText>
                <MudText>Rating: @armor.AR</MudText>
                <MudText>Traits: @armor.Traits</MudText>
                <MudDivider />
                <MudText>@armor.Description</MudText>
            </MudListItem>
        }
    }
    else
    {
        <p>No Armor in Inventory</p>
    }
</MudList>

@code {
    [CascadingParameter]
    public CharacterViewModel ViewModel { get; set; }
}