<div class="row">
    <p>Combat Traits</p>
</div>
<div class="row">
    <div class="col-6">
        Defense
    </div>
    <div class="col">
        <input  type="number" class="form-control" disabled value="@(Character.Attributes.Initiative - 1)" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        Max Wounds
    </div>
    <div class="col">
        <input  type="number" class="form-control" disabled value="@(Character.Tier * 2 + Character.Attributes.Toughness)" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        Resilience
    </div>
    <div class="col">
        <input  type="number" class="form-control" disabled value="@(Character.Attributes.Toughness + 1 + Character.Armor.AR)" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        Shock
    </div>
    <div class="col">
        <input  type="number" class="form-control" disabled value="@(Character.Attributes.Willpower + Character.Tier)" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        Resolve
    </div>
    <div class="col">
        <input  type="number" class="form-control" disabled value="@(Character.Attributes.Willpower - 1)" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        Passive Awarenss
    </div>
    <div class="col">
        <input  type="number" class="form-control" disabled value="@((Character.Skills.Awareness + Character.Attributes.Intellect) / 2)" />
    </div>
</div>

@code {

    [Parameter]
    public Character Character { get; set; }

}
