<MudCard>
    <MudCardMedia Image="images/Reference.png" Height="Constants.ImageBannerSize" />
    <MudCardContent>
        <MudGrid>
            <MudItem xs="6">
                <MudSimpleTable Style="overflow-x: auto;" Hover="true" Class="mb-3" Bordered="true" Dense="true">
                    <thead>
                        <tr>
                            <th>Basic Actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, string> reference in UserMessages.QuickReference.Actions)
                        {
                            <tr>
                                <td>@reference.Key</td>
                                <td>@reference.Value</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem xs="6">
                <MudSimpleTable Style="overflow-x: auto;" Hover="true" Class="mb-3" Bordered="true" Dense="true">
                    <thead>
                        <tr>
                            <th>Advanced Actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, string> reference in UserMessages.QuickReference.AdvancedActions)
                        {
                            <tr>
                                <td>@reference.Key</td>
                                <td>@reference.Value</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem xs="6">
                <MudSimpleTable Style="overflow-x: auto;" Hover="true" Class="mb-3" Bordered="true" Dense="true">
                    <thead>
                        <tr>
                            <th>Damage Defence</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, string> reference in UserMessages.QuickReference.DamageDefence)
                        {
                            <tr>
                                <td>@reference.Key</td>
                                <td>@reference.Value</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem xs="6">
                <MudSimpleTable Style="overflow-x: auto;" Hover="true" Class="mb-3" Bordered="true" Dense="true">
                    <thead>
                        <tr>
                            <th>Movement</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, string> reference in UserMessages.QuickReference.Movement)
                        {
                            <tr>
                                <td>@reference.Key</td>
                                <td>@reference.Value</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem xs="6">
                <MudSimpleTable Style="overflow-x: auto;" Hover="true" Class="mb-3" Bordered="true" Dense="true">
                    <thead>
                        <tr>
                            <th>Situation</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, string> reference in UserMessages.QuickReference.Situations)
                        {
                            <tr>
                                <td>@reference.Key</td>
                                <td>@reference.Value</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem xs="6">
                <MudSimpleTable Style="overflow-x: auto;" Hover="true"  Bordered="true" Dense="true">
                    <thead>
                        <tr>
                            <th>Ranged Options</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, string> reference in UserMessages.QuickReference.Ranged)
                        {
                            <tr>
                                <td>@reference.Key</td>
                                <td>@reference.Value</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem xs="6">
                <MudSimpleTable Style="overflow-x: auto;" Hover="true" Class="mb-3" Bordered="true" Dense="true">
                    <thead>
                        <tr>
                            <th>Melee Options</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KeyValuePair<string, string> reference in UserMessages.QuickReference.Melee)
                        {
                            <tr>
                                <td>@reference.Key</td>
                                <td>@reference.Value</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code {
    [CascadingParameter]
    public CharacterViewModel ViewModel { get; set; }
}