@foreach (Weapon weapon in Character.Weapons)
{
<div class="row my-1">
    <div class="col">
        Name
    </div>
    <div class="col">
        Damage
    </div>
    <div class="col">
        AP
    </div>
    <div class="col">
        Salvo
    </div>
    <div class="col">
        Range
    </div>
    <div class="col">
        Traits
    </div>
</div>
<div class="row">
    <div class="col">
        @weapon.Name
    </div>
    <div class="col">
        @weapon.Damage
    </div>
    <div class="col">
        @weapon.AP
    </div>
    <div class="col">
        @weapon.Salvo
    </div>
    <div class="col">
        @weapon.Range
    </div>
    <div class="col">
        @weapon.Traits
    </div>
</div>
<hr />
}

@code {

    [Parameter]
    public Character Character { get; set; }

}
